const getStockSymbols = (stocks) => {
  const symbols = [];
 
  stocks.forEach(function(stock) {
    symbols.push(stock.symbol)
  })
 
  return symbols;
}

getStockSymbols(stocks) // ["XFX", "TNZ", "JXJ"]

// https://jsbin.com/gipilur/