/**
 * The Array Party https://jsbin.com/wexafab
 */ 
let ArrayParty = (function() {
  console.log("- - - ArrayParty");
  
  let defaultMenu = ['hamburger', 'french fries', 'soda']
  let guestNames = ['John', 'Jane', 'Bill'];
  
  let guest = name => ({
    name,
    foods: defaultMenu,
    eat(food) {
      this.foods = this.foods.concat([food]); 
      return this;
    }
  });
  let guests = guestNames.map(guest)
  
  // -- 

  let [john, jane, bill] = guests;
  
  john.eat('salad');
  jane.eat('chips and salsa');
  bill.eat('twinkies').eat('ribs').eat('hot dog');

  guests.forEach(guest => console.log(
    `${guest.name} ate: ` + guest.foods.join(', ')));
});

ArrayParty();
